.editor {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px yellow, 0 1px 10px black;
  border-radius: 15px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 1em;
  width: 50%;
}

input {
  margin-top: .3em;
}


.error {
  color: red;
  font-size: .5em;
}

.inputtext {
  font-size: .9em;
}

.checkboxlabel {
  font-size: .9em;
  font-weight: bold;
}

#tolerated {
  margin-top: 1em;
  margin-bottom: 1em;
}

.additem {
  font-size: 1em;
  background-color: white;
  border: none;
  border-radius: .5em;
  box-shadow: 0 1px 2px black ;
}

.additem:hover {
  background-color: #ffffee;
  font-weight: bold;
}
