.cover {
  background-position: left 10% top 50%;
  background-size: cover;
}

.ingredientsList {
  color: black;
  box-shadow: 0 1px 2px yellow, 0 1px 10px black;
  border-radius: 15px;
  margin: 3em;
  text-align: justify;
  padding: 1em;
  background-size: contain;
  background-repeat: round;
  background-color: rgba(255, 255, 255, .7) !important;
  background-blend-mode: color;
}

.notice {
  border: 1px solid red;
  box-shadow: 0 1px 2px red, 0 1px 10px black;
  padding: 1em;
  background-color: white;
}

.notification {
  color: red;
  margin: auto;

}
