nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
}

li {
  margin-right: 2em;
  margin-top: .8em;
}


.link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.link:hover {
  color: #FFB90F;
}

.navigation {
  background-color: black;
  height: 3em;
}

.user {
  margin: auto;
  height: 3em;
}

.general {
  margin: auto;
  height: 3em;
}
